.factory {
  background-color: indigo;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;

  .nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .canvas {
    display: none;
    border: 2px solid yellow;

    &.open {
      display: block;
    }
  }
}
