*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.controls {
  background: rgb(27, 1, 1, 0.8);
  color: azure;
  font-family: monospace;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  padding: 10px;
}
