*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.controls {
  background: black;
  color: white;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
}
