*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  --x: calc(100% - 310px);
  --y: 10px;
  position: fixed;
  top: var(--y);
  left: var(--x);
  outline: 2px solid gray;
}

.container .navbar {
  background: orange;
  display: flex;
}

.container .navbar .handle {
  background-color: blue;
  width: 30px;
  height: 20px;
}
