*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.shapes-container {
  background-color: orange;
  position: fixed;
  top: 10px;
  left: 10px;
}

.draw-container {
  --x: calc(100% - 310px);
  --y: 10px;
  background-color: purple;
  position: fixed;
  top: var(--y);
  left: var(--x);
  outline: 2px solid gray;
}

.draw-container .navbar {
  background: orange;
  display: flex;
}

.draw-container .navbar .handle {
  background-color: skyblue;
}

.draw-container canvas.hidden {
  display: none;
}
